{% extends "index.html" %}

{% block title %}Workspaces{% endblock %}

<!-- Wee can see all our workspaces here -->
{% block content %}
<div class="home">
    <h2>My workspaces</h2>
    <div class="workspaces-grid">
        {% for workspace in workspaces %}
        <div class="workspace-card"> 
            <h3>{{ workspace.title }}</h3>
            <p>{{ workspace.description }}</p>
            <a href="{{url_for('views.workspace', workspace_id = workspace.id)}}" class="button">Acessar</a>
            <div>
                <button class="add-card-btn" onclick="showAddMembersModal({{ workspace.id }})">Adicionar um membro</button>
            </div>
            <div>
                <button class="add-card-btn" onclick="showViewMembersModal({{ workspace.id }})">Ver membros</button>
            </div>
        </div>
        {% endfor %}

        
        <div class="new-workspace-card">
            <h3>+ Create a workspace</h3>
            <form id="createWorkspaceForm" method="POST">
                <input type="text" name="title" id="title" placeholder="Workspace's name" required>
                <textarea name="description" id="description" placeholder="Workspace's description"></textarea>
                <button type="submit" class="button">Create</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal to add new members -->
 <div id="addMembersModal" class="modal" style="display: none;"> 
    <div class="modal-content">
        <h3>Informe o membro que deseja adicionar</h3>
            <form onsubmit="addMember(event)">
                <input type="hidden" id="modalWorkspaceId">
                <select id="users_list">
                    <option>Carregando opções...</option>
                </select>
                <select id="roles_list">
                    <option>Owner</option>
                    <option>Member</option>
                </select>
                <button type="submit">Adicionar</button>
                <button type="button" onclick="closeAddMembersModal()">Cancelar</button>
            </form>            
    </div>
 </div>

 <!-- Modal to see the members of the workspace -->
 <div id="viewMembersModal" class="modal" style="display: none;"> 
    <div class="modal-content">
        <h3>Lista de membros do workspace</h3>
        <div>
            <p id="workspace_members_list"></p>
        </div>           
    </div>
 </div>

<script src="{{ url_for('static', filename='js/creations.js') }}"></script>
<script src="{{ url_for('static', filename='js/views.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/operations.js') }}"></script>

{% endblock %}

