<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity - Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='daily-planning.png') }}">
</head>
<body>
    <div id="main-div">
        <div id="login-container">
            <h2>Login</h2>
            <form id="loginForm" method="POST">
                <input type="text" name="nickname" id="nickname" placeholder="nickname" required>
                <input type="password" name="password" id="password" placeholder="password" required>
                <button type="submit">Login</button>
            </form>
            <p>Do not you have an account? Create one<a href="{{url_for('auth.register')}}" >Register</a></p>
        </div>
    </div>    
</body>
</html>

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>


