<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='daily-planning.png') }}">
</head>
<body>
    <div id="main-div">
        <div id="register-container">
            <h2>Register</h2>
            <form id="registerForm" method="POST" action="{{url_for('auth.register')}}">
                <input type="text" name="username" id="username" placeholder="username" required>
                <input type="text" name="nickname" id="nickname" placeholder="nickname" required>
                <input type="email" name="email" id="email" placeholder="email" required>
                <input type="password" name="password" id="password" placeholder="password" required>
                <div id="gender-div">
                    <p id="gender-title">What's your gender?</p>
                    <label>
                        <input type="radio" name="gender" value="Male" required>
                        Male
                    </label>
                    <label>
                        <input type="radio" name="gender" value="Female">
                        Female
                    </label>
                </div>
                <input type="number" name="age" id="age" placeholder="age" required>
                <button type="submit">Create Account</button>
            </form>
            <p>Already have an account? Sign in<a href="{{url_for('auth.login')}}" >Login</a></p>
        </div>
    </div>    
</body>
</html>
