{% extends "index.html" %}

{% block title %}Boards{% endblock %}

<!-- Wee can see all our boards here -->
{% block content %}
<div class="workspace">
    <h2>My boards</h2>
    <div class="boards-grid">
        {% for board in boards %}
        <div class="board-card">
            <h3>{{ board.title }}</h3>
            <p>{{ board.about }}</p>
            <a href="{{url_for('views.board', board_id=board.id)}}" class="button">Acessar</a>
        </div>
        {% endfor %}
    
        <div class="new-board-card">
            <h3>+ Create a board</h3>
            <form method="POST" id="createBoardForm">
                <input type="hidden" id="workspaceId" name="workspace_id" value="{{ workspace.id }}">
                <input type="text" id="title" name="title" placeholder="Board's name" required>
                <textarea name="about" id="about" placeholder="Board's description"></textarea>
                <button type="submit" class="button">Create</button>
            </form>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/creations.js') }}"></script>
{% endblock %} 